.category-represent {
    padding: 15px; /* Поля вокруг */
    width: 95%; /* Ширина */
    text-align: center;
    margin: 0 auto;
    color: lightcoral;
}

.category-represent__img {
    width: 200px;
}

@media (max-width: 750px) {
    .category-represent__img {
        width: 50%;
    }
}