.category-represent {
    padding: 15px; /* Поля вокруг */
    width: 350px; /* Ширина */
    text-align: center;
    margin: 0 auto;
    color: yellowgreen;
}

.category-represent__img {
    width: 320px;
    cursor: zoom-in;
}

.category-represent__name {
    position: relative;
    width: 320px;
    margin: 0;
    text-align: left;
    height: 50px;
    line-height: 50px;
}


.category-represent__name_main-page {
    text-align: center;
}

.category-represent__name_price {
    position: absolute;
    right: 0;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-size: 80%;
    font-style: italic;
}



