.mail-form-container {
    position: fixed;
    top: 65px;
    right: 15px;
    z-index: 10;
}

.mail-form {
    margin: 0 auto;
    width: 320px;
    height: 400px;
    color: greenyellow;
    background-color: black;
    border: 1px solid #47640c;
}

.mail-form__fieldset {
    position: relative;
    border: 1px solid #47640c;
}

.mail-form__legend {
    padding: 0 0.5rem;
    font-family: 'Neucha', cursive;
    font-size: 1rem;
}

.mail-form__input-name,
.mail-form__input-email,
.mail-form__input-email-body {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #47640c;
    height: 1.7rem;
    font-size: 1rem;
    background: none;
    outline: none;
    color: inherit;
}

.mail-form__btn {
    height: 1.5rem;
    border: 0;
    background: darkolivegreen;
    line-height: 1.5rem;
    text-transform: lowercase;
    font-size: 1rem;
    font-family: 'Neucha', cursive;
    padding: 0;
}

.mail-form__btn_submit {
    color: yellowgreen;
}

.mail-form__btn_reset {
    color: #ff8a3a;
}

.mail-form_btns {
    margin: auto;
}

.mail-form__btn:hover {
    background-color: #47640c;
    cursor: pointer;
}

.mail-form__input-email-body {
    height: 10rem;
    margin-bottom: 0.5rem;
    resize: none;
    border-bottom: none;
}

.mail-form__input-name:focus,
.mail-form__input-email:focus {
    border-bottom: 1px solid greenyellow;
}

.mail-form__input-email-body:focus {
    border: 1px solid greenyellow;
}

.mail-form__close-btn {
    border-radius: 50%;
    background-color: #ff8a3a;
    text-align: center;
    width: 25px;
    height: 25px;
}

._close-btn-container {
    text-align: center;
    line-height: 25px;
    padding: 0;
}