html {
    height: 100%;
    font-size: 22px;
}

body {
  /*  background: url("../img/grunt_rastitelny.jpg") repeat fixed;
  */
    background-color: black;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.page-title {
    padding: 0;
    margin: 0 auto;
}

.page-title__img {
    width: 100%;
    max-height: 250px;
}

.page-title__text {
    text-align: center;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
}