html {
    height: 100%;
    font-size: 20px;
}

body {
    background: url("../img/grunt_rastitelny.jpg") repeat fixed;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

.page-title {
    padding: 0;
    margin: 0 auto;
}

.page-title__img {
    width: 100%;
}

.page-title__text {
    text-align: center;
}