a[href] {
    text-decoration: none;
    color: yellowgreen;
}

a[href]:hover {
    color: yellow;
}

html,
body {
    height: 100%;
    background: url("../img/grunt_rastitelny.jpg") repeat fixed;
}

.wrapper {
    display: table;
    padding-top: 55px;
    padding-left: 250px;
    min-height: 100%;
}

.top-menu-bar {
    background: darkolivegreen;
    color: black;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
}

.top-menu__item {
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}

.left-menu-bar {
 /*   background: darkolivegreen;*/
    color: black;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
}

.left-menu {
    padding: 0 0;
}

.left-menu__item {
    list-style: none;
    padding: 15px 5px;
}

.content {
    color: white;
    font-size: 20px;
    display: table-row;
    height: 100%;
}

.footer {
    position: relative;
    background: darkolivegreen;
    color: black;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
}