<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обратная связь</title>
    <link rel="stylesheet" href="../vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <!--<link rel="stylesheet" href="../css/grid.css">-->
    <link rel="stylesheet" href="../vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/feedback.css">
</head>
<body>
<div class="container">
    <div class="top-menu-bar">
        <span class="top-menu-logo">Сад в Домажино</span>
        <label class="nav-sm-btn" for="nav-sm-checkbox" id="nav-sm-btn">
            <i class="fa fa-bars nav_highlight"></i></label>
        <input type="checkbox" id="nav-sm-checkbox" class="nav-sm-checkbox">
        <ul class="top-menu">
            <li class="top-menu__item"><a href="../index.php">Главная</a></li>
            <li class="top-menu__item"><a href="#">Как сделать заказ</a></li>
            <li class="top-menu__item top-menu__item_active"><a>Контакты</a></li>
            <li class="top-menu__item"><a href="#">Фото сада</a></li>
            <li class="top-menu__item"><a href="#">Видео сада</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="content">
            <!--     <div class="row">
                     <div class="col-xs-12">
                         <h2>Звоните: +7 123 456 7890, Марина Григорьева</h2>
                     </div>
                 </div>
            -->
            <div class="row">
  <!--              <div class="col-xs-12 col-md-6">
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0-92sXWSY-zAaoUgllAXTc2st_9E6uYc&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>-->
                <div class="col-xs-12 col-md-12">
                <form class="mail-form" action="#" method="POST">
                    <fieldset class="mail-form__fieldset">
                        <legend class="mail-form__legend">Пишите:</legend>
                        <input type="text" name="name" id="name" class="mail-form__input-name" placeholder="Имя">
                        <input type="email" name="email" id="email" class="mail-form__input-email"
                               placeholder="Ваш e-mail">
                        <textarea name="email-body" id="email-body" class="mail-form__input-email-body"
                                  placeholder="Текст сообщения"></textarea>
                        <div class="row mail-form_btns">
                            <input type="submit" class="col-xs-4 mail-form__btn mail-form__btn_submit"
                                   value="Отправить">
                            <input type="reset" class="col-xs-4 col-xs-offset-4 mail-form__btn mail-form__btn_reset"
                                   value="Очистить">
                        </div>
                    </fieldset>
                </form>
            </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <h2>Приезжайте в гости</h2>
                    <script type="text/javascript" charset="utf-8" async
                            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0-92sXWSY-zAaoUgllAXTc2st_9E6uYc&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="footer">@2017 Garry Jane</div>-->
</div>
</body>
<script src="../js/menu.js"></script>
</html>