<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
<div class="container">
    <div class="top-menu-bar">
        <span class="top-menu-logo">Сад в Домажино</span>
        <label class="nav-sm-btn" for="nav-sm-checkbox" id="nav-sm-btn">
            <i class="fa fa-bars nav_highlight"></i></label>
        <input type="checkbox" id="nav-sm-checkbox" class="nav-sm-checkbox">
        <ul class="top-menu">
            <li class="top-menu__item top-menu__item_active"><a>Главная</a></li>
            <li class="top-menu__item"><a href="#">Как сделать заказ</a></li>
            <li class="top-menu__item"><a href="#">Контакты</a></li>
            <li class="top-menu__item"><a href="#">Фото сада</a></li>
            <li class="top-menu__item"><a href="#">Видео сада</a></li>
        </ul>
    </div>
    <div class="main">
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="gallery-header">Лилейники</div>
                    <div class="gallery">
                        <a href="#" class='gallery__left' onclick="prev(this)"></a>
                        <a href="#" class='gallery__right' onclick="next(this)"></a>

                        <div class="gallery__slide gallery__slide_active">
                            <div class="gallery__image gallery__image-1"></div>
                        </div>
                        <div class="gallery__slide">
                            <div class="gallery__image gallery__image-2"></div>
                        </div>
                        <div class="gallery__slide">
                            <div class="gallery__image gallery__image-3"></div>
                        </div>
                    </div>
                    <div id="gallery-footer"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">@2017 Garry Jane</div>
</div>

</body>
<script src="../js/menu.js"></script>
<script src="../js/gallery.js"></script>
</html>